<body>
  <div id="app" v-cloak>
    <div
      v-for="x in 9"
      :style="{
        'display': 'flex',
        'flex-direction': 'row'
      }"
    >
      <div v-for="y in 9">
        <Button-Counter :title="`${x} ${y}`" @self-count="state = {'x':x,'y':y}"></Button-Counter>
      </div>
    </div>
    <span>Currently on : {{String.prototype.concat(state.x + ' ',state.y) }}</span>

    <br /><a href="../index.html">Back to Index</a>
  </div>
</body>

<template id="template-button">
  <button @click="$emit('self-count')">{{title}}</button>
</template>

<script type="module">
  import {createApp, ref} from "../vue.esm-browser.js";
  import ButtonCounter from "../components/bit.js";

  const app = createApp({
    components: {
      ButtonCounter
    },
    setup() {
      const state = ref({x: 0, y: 0});

      return {state};
    }
  });

  app.mount("#app");
</script>

<style>
  [v-cloak] {
    display: none;
  }

  button {
    margin: 0.1em;
    padding: 0.5em;
  }
</style>
